<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="executor" class="org.springframework.webflow.executor.FlowExecutorImpl">
		<constructor-arg ref="registry"/>
		<constructor-arg ref="factory"/>
		<constructor-arg ref="repository"/>
	</bean>
	
	<bean id="factory" class="org.springframework.webflow.engine.impl.FlowExecutionImplFactory"/>

	<bean id="stateRestorer" class="org.springframework.webflow.engine.impl.FlowExecutionImplStateRestorer">
		<constructor-arg>
			<ref bean="registry"/>
		</constructor-arg>
	</bean>

	<bean id="registry" class="org.springframework.webflow.engine.builder.xml.XmlFlowRegistryFactoryBean">
		<property name="flowLocations" value="classpath:org/springframework/webflow/executor/flow.xml"/>
	</bean>
	
</beans>